*{
    box-sizing: border-box;
}

body,html{
    height: 100%;
    padding: 0 auto;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
}

.backarrow-class{
    margin: 1%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#backarrow{
    width: 40px;
}

.container{
    display: flex;
    align-items: center;
    padding: 20px;
}

.selectoption{
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectoption label{
    white-space: nowrap;
    margin-right: 10px;
    flex: 0.2;
}

.selectoption select{
    flex: 0.6;
}

#month{
    width: 90%;
}

.selectmenu{
    padding: 20px;
    flex: 0.5;
    width: 100%;
}

.selectmenu div{
    margin: 20px;
}


.graphbox{
    height: 400px;
    background-color: #FFF3F3;
}

.box-display{
    padding: 20px;
    flex: 0.5;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: larger;
}

.box-display div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40%;
    margin: 10px;
    width: 100%;
}

@media (max-width: 680px){
    .container{
        flex-direction: column;
    }
}