body,html{
    height: 100%;
    padding: 0 auto;
    margin: 0 auto;
}

.wrapper{
    height: 100%;
    width: 100%;
}

.backarrow-class{
    margin: 2%;
    float: right;
}

/* .box-display{

}

.graphbox{

}

.totaltime{

}

.avgtime{

} */