body, html {
    height:  100%;
    margin:  0px auto;
    padding: 0px auto;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    height:     100%;
    min-height: 100%;
    margin:     0px auto;
    padding:    0px auto;
}

#hamburger , #backarrow{
    width: 40px;
}

.circle{
    cursor: pointer;
    background: linear-gradient(#d6e4eeda,#ffffff8f,#e6f0de96);
    height: 175px;
    width: 175px;
    border-radius: 100%;
    user-select: none;
    font-size: x-large;
    border: none;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.circle:focus{
    outline: none;
}

.circle:active{
    transform: scale(0.97);
}

.timeshowerbox{
    background: linear-gradient(#d6e4eeda,#ffffff8f,#e6f0de96);
    margin: 10%;
    border-radius: 5px;
    user-select: none;
    min-width: 250px;
    width: fit-content;
    height: 40px;
    text-align: center;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    padding: 40px;
}

.display{
    display: flex;
    align-items: center;
    height: 100vh;
}

.start-and-timer, .animation-container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 0.5;
}

.div-left-circle, .div-right-timer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.animator_main{
    position: relative;
    /* border: 5px black; */
    /* background-image: linear-gradient(#B9DEE2,#F5F5F5); */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 2%;
    height: 400px;
    width: 50%;
}

.dropdown{
    float:right;
    margin: 15px;
    padding: 5px;
    border: none;
    user-select: none;
}

.dropdown-item{
    background-color: #ffffff;
    margin: 10px auto;
    padding: .25rem 0.8rem;
    border-radius: 5px;
    width: 85%;
}

.button{
    background: transparent;
    border: none;
    user-select: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 20%;
}

.button:focus{
    outline: none;
}

.dropdown-menu-right{
    background-color: #CACACA;
    position: relative;
}

#backarrow{
    display: none;
}

.name{
    font-size: x-large;
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-bottom: 25px;
}

.image-animator{
    height: 50%;
    width: 50%;
}

#right-wheel, #left-wheel{
    transform-origin: center;
    transform-box: fill-box;
}

#man-bike{
    transform-origin: bottom;
}

@keyframes wheel{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes bike{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(20deg);
    }
}

@keyframes hat{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(20deg);
    }
}

/* additional media query to be added later */
@media (max-width: 680px){
    .display{
        flex-direction: column;
    }
    
    .start-and-timer, .animation-container{
        width: 100%;
    }
    
    .start-and-timer{
        flex-direction: column;
       padding: 5px;
    }
    
    .div-left-circle, .div-right-timer{
        margin: 10px auto;
        justify-content: center;
    }
    
    .timeshowerbox{
        padding: 20px;
    }
    
    .animator_main{
        height: 250px;
    }
}