*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backarrow-class{
    width: 90%;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#backarrow{
    width: 40px;
}

body{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: hsl(0, 0%, 100%);
}

.profile_card_large{
    padding: 20px;
    cursor:pointer;
    display: grid;
    place-items: center;
    width: 90%;
    grid-template-columns: repeat(2,1fr);
    min-height:80vh;
}

.links div, .links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.links .svg_img{
    position: relative;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin: 8px 20px;
    border-radius: 10px;
    z-index: 10;
    transition: transform 0.6s ease-in-out;
}

.profile_card_small{
    display: none;
    cursor:pointer;
}

.link_card{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 50%;
    min-height: 30px;
    height: fit-content;
    position: absolute;
    border-radius:8px;
    bottom: 0;
    transform: translateY(-110%);
}

.arrow{
    position: absolute;
    bottom: -10px;
    z-index: 10;
}

.links:hover .svg_img{
    /* position: relative; */
    transform: translateY(-35%);
}

.author_links{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
}

.author_links a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:20%;
    width: 80%;
    margin: 8px;
}

.author_links img{
    width: 75%;
}

@media (max-width:1080px) {
    .profile_card_large{
        grid-template-columns: repeat(1,1fr);
    }

    .link_card{
        position: static;
        transform: translateY(0);
    }

    .links:hover .svg_img{
        transform: translateY(0%);
    }

    .arrow{
        display: none;
    }
}

@media (max-width: 680px) {
    .profile_card_large{
        display: none;
    }

    .profile_card_small{
        display: block;
        width: 80%;
    }
    
    .links{
        margin: 10px;
    }
    
    .links .svg_img{
        z-index: 0;
    }
    
    .link_card{
        position: static;
        margin-top: 8px;
        width: 80%;
    }

    .author_links img{
        width: 50%;
    }
}