body, html {
    height:  100%;
    margin:  0px auto;
    padding: 0px auto;
}

.sign_up{
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.landing_text{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    overflow: hidden;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    height:     auto;       
    min-height: 100%;
    margin:     0px auto;
    padding:    0px auto;
}

.landing_image
{
    margin: 0;
    position: absolute;
    top: 15%;
    left: 25%;
    transform: translateX(-50%);
    height: 40%;
    width: 40%;
}

.box:hover {
	text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
}

.box::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, transparent, white, transparent);
	left: -100%;
	transition: 0.5s;
}

.box:hover::before {
	left: 100%;
}

@media only screen and (max-width: 680px)
{
    body{
        max-width: 650px;
    }
    .animation{
        margin-top: 40%;
    }

    .landing_image::after{
        clear: both;
        display: table;
    }

    .landing_image,
    {
        margin-left: 2%;
   
    }

      .landing_text
    {
        margin-right: 2%;
        height: 45%;
        width: 45%;
    }

   .sign_up{
        margin-top: 2%;
        position: absolute;
        top: 55%;
        left: 50%;
   }

}